.overlay {
  position: fixed;
  top: 9rem;
  left: 0;
  width: 100%;
  height: calc(100%);
  background: rgba(0, 0, 0, 0.65);
  z-index: 1000;
}

.searchContainer {
  position: absolute;
  z-index: -1;
  bottom: -13.5rem;
  left: 0;
  width: 100vw;
  background: rgba(255, 255, 255);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  opacity: 0;
  transform: translateY(-0.5rem);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
}

.searchContainer.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
.inputWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}
.searchInput {
  width: 80%;
  padding: 0.75rem;
  padding-left: 1.5rem;
  font-size: 16px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  border: none;
  outline: none;
  border-radius: 2rem;
}
.clearIcon {
  position: absolute;
  top: 50%;
  right: calc(10% + 3rem);
  transform: translateY(-50%);
  cursor: pointer;
  color: #fff;
  background: #dddddd;
  font-size: 0.875rem;
}

.clearIcon:hover {
  background: #969696;
}

.searchIcon {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.625rem;
  border-radius: 50%;
  position: absolute;
  right: calc(10% + 1px);
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: #ffb800;
  color: #1a2b49;
  font-size: 20px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}

.searchIcon:hover {
  background-color: #e6a500;
}

.searchButton {
  font-size: 1.5rem;
  padding: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  background: #ede7e737;
  color: #ede7e7;
  border-radius: 50%;
  border: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.searchButton.show {
  cursor: pointer;
  background: #ffffff;
  color: #676767;
}

.searchButton:hover {
  background-color: rgba(236, 231, 231, 0.442);
}

.searchButton.show:hover {
  background-color: #ede7e7ab;
}
