*
!.env.local

# allow sitemaps in public
!public/
public/*
!public/images/

!public/images/**
!public/sitemap*.xml
!public/robots.txt

# allow dynamic sitemap route
!src/app/sitemap.xml/
!src/app/sitemap.xml/route.js

# allow helper libs
!src/lib/
!src/lib/media.js
!src/app/sitemap.xml/chunked-helpers.js
