/* Full Section */
.servicesContainer {
  padding: 4rem 0;
  background-color: #1a2b49;
  position: relative;
}

.darkBg {
  background-color: #1a2b49;
}

/* Title */
.sectionTitle {
  text-align: left;
  margin-bottom: 1.5rem;
  font-size: 3rem;
  color: #ffb800;
  text-transform: uppercase;
}

/* Carousel Wrapper */
.carouselWrapper {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

/* Embla Main Container */
.carousel {
  width: 100%;
  max-width: 100vw;
}

/* Inner Container for Slides */
.embla__container {
  display: flex;
  gap: 15px;
  transition: transform 0.3s ease-out;
  align-items: center;
}

/* Slide */
.embla__slide {
  flex: 0 0 20%; /* Show 1 full slide, 20% of the next one */
  min-width: 33%;
  transition: transform 0.3s ease-out;
}

/* Service Box */
.serviceBox {
  padding: 2rem;
  border: 1px solid #e7e2e3;
  border-radius: 0.5rem;
  height: fit-content;
}

/* Title */
.serviceTitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #ece7e7;
  font-family: "Work Sans", serif;
  font-weight: 600;
}

/* Description */
.serviceDescription {
  font-size: 1rem;
  color: #ece7e7;
  line-height: 1.6;
}

/* Navigation Buttons */
.navButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(26, 43, 73);
  border: solid 2px #fff;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  color: #fff;
  cursor: pointer;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  transition: background-color 0.3s;
}

.navButton:hover:not(:disabled) {
  background-color: rgba(26, 43, 73, 1);
}

.navButton:hover {
  background-color: #243c66 !important;
}
.navButton svg {
  width: 1rem;
  height: 1rem;
}
/* Positioning Buttons */
.prevButton {
  transform: rotate(180deg);
  left: 0rem;
}

.nextButton {
  right: 0rem;
}

/* Disabled Buttons */
.navButton:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

/* Responsive Adjustments */
@media (max-width: 1024px) {
  .embla__slide {
    flex: 0 0 85%;
    min-width: 85%;
  }
}

@media (max-width: 768px) {
  .embla__slide {
    flex: 0 0 90%;
    min-width: 90%;
  }

  .navButton {
    width: 35px;
    height: 35px;
    font-size: 1.2rem;
  }

  .prevButton {
    left: 0px;
  }

  .nextButton {
    right: 0px;
  }
}

@media (max-width: 480px) {
  .embla__slide {
    flex: 0 0 100%;
    min-width: 100%;
  }

  .navButton {
    width: 30px;
    height: 30px;
    font-size: 1rem;
  }

  .prevButton {
    left: -5px;
  }

  .nextButton {
    right: -5px;
  }
}
