.teamGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  gap: 20px;
  justify-content: center;
}

.teamCard {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
  height: auto;
}

.teamImageContainer {
  width: 100%;
  height: auto;
}

.teamImage {
  width: 100%;
  height: auto;
  transition: filter .3s ease-in-out;
  filter: grayscale(1);
  border-radius: 7px;
}

.teamInfo {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  text-align: center;
  padding: 15px;
}

.teamCard:hover .teamInfo {
  opacity: 1;
}

.teamCard:hover .teamImage {
  filter: brightness(0.4);
}

.teamName {
  font-size: 16px;
  font-weight: bold;
  font-family: Montserrat, serif !important;
  color: #ece7e7;
}

.teamTitle {
  font-size: 12px;
  margin: 5px 0;
  color: #ece7e7;
}

.locationIcon {
  margin-right: 8px;
  color: #ffb800;
}

.teamLink {
  color: #1a2c49;
  text-decoration: none;
  background-color: #ffb800;
  font-size: 12px;
  padding: 8px;
  border-radius: 30px;
  margin-top: 10px;
}

.teamCard {
  position: relative;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
}

.teamImageContainer {
  width: 100%;
}

.teamImage {
  width: 100%;
  display: block;
  transition: transform 0.3s ease;
}

/* Hide text initially */
.teamInfo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/* Show text on hover */
.teamCard:hover .teamInfo {
  opacity: 1;
}

/* Removes border from hover */
.teamCard:hover {
  border-bottom: none;
}

.teamCard {
  position: relative;
  overflow: hidden;
  text-align: center;
  cursor: pointer; /* Makes cursor a pointer */
  transition: transform 0.2s ease;
}

.teamCard:hover {
  transform: scale(1.02); /* Slight zoom effect */
  cursor: pointer; /* Ensures pointer stays on hover */
}


.teamSection{
  background-color: #1a2c49;
  padding-top: 6rem;
  padding-bottom: 4rem;
}
.teamSectionTitle{
  font-size: 3rem;
  text-transform: uppercase;
  color:#ffb800;
}

.teamDescription{
  max-width: 714px;
  color: #ece7e7;
  margin-bottom: 2rem;
  text-align: justify;
}