.teamContainer {
    max-width: 1400px;
    margin: 0 auto;
    text-align: left;
    padding: 40px 20px;
  }
  
  .teamTitle {
    font-size: 4.5rem;
   
    color: #ffb800;
    text-transform: uppercase;
  }
  
  .teamDescription {
    font-size: 18px;
    margin-bottom: 40px;
    color: #ede7e7;
    max-width: 600px;
  }
  .teamsHero{
    padding-top: 4rem;
    background-color: #1a2b49;
  }
  .positionTitle{
    font-family: Montserrat, serif !important;
    color: #ede7e7;
    font-weight: 500;
  }